.image-client {
    height: 50px; 
    width: 50px; 
    border-radius: 50px;
    background-color: #225A6C;
  }
  
  .card {
    border: none;
  }
  
  .view-button {
    width: 80px;
  }
  

  .card-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }
  
  
  .project-status {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  